:root {
  --gray900: #18191F;
  --gray800: #474A57;
  --gray700: #969BAB;
  --primarycolor: #8C30F5;
  --secondarycolor: #D6B1FF;
}

.hidden {
  overflow: hidden;
}

html body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

html body a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.primary__button {
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--primarycolor);
}

.secondary__button {
  color: var(--primarycolor);
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--secondarycolor);
}

.header {
  border-bottom: 2px solid #E5E9F2;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__links a {
  text-decoration: none;
  padding: 10px 20px;
  font-family: var(--font);
  color: var(--gray800);
}

.header .primary__button {
  margin-left: 14px;
}

.hero {
  padding-top: 77px;
  padding-bottom: 220px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__left {
  width: 45%;
  margin-top: 70px;
}

.hero__left h1 {
  font-size: 72px;
  margin-bottom: 0;
}

.hero__left p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
}

.hero__right {
  width: 640px;
  height: 640px;
  position: absolute;
  right: -80px;
  top: 0;
  border-radius: 50%;
  background-color: #D6B1FF;
}

.hero__img {
  position: absolute;
  left: 90px;
  top: 70px;
}

.getdeal {
  padding-top: 100px;
}

.getdeal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getdeal__left {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.getdeal__left h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

.getdeal__left p {
  font-size: 18px;
  line-height: 32px;
}

.getdeal__right {
  position: relative;
}

#outer_circle {
  position: absolute;
  position: center;
  right: -30px;
  top: -45px;
}

#inner_circle {
  position: absolute;
  left: 100px;
  top: 100px;
}

.achievement {
  padding-top: 80px;
  padding-bottom: 80px;
}

.achievement__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievement__content h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

.achievement__content p {
  font-size: 18px;
  line-height: 32px;
}

.achievement_item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item1;
}

.achievement_item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: item2;
}

.achievement_item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item3;
}

.achievement_item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: item4;
}

.achievement__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 135px 135px 70px;
      grid-template-columns: 135px 135px 135px 70px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "item1 item1 item2 item2" "item3 item3 item4 item4";
}

.achievement .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievement_text {
  margin-left: 16px;
}

.achievement_text h2 {
  margin: 0;
  font-size: 28px;
  color: var(--gray900);
}

.achievement_text p {
  margin: 0px;
  font-size: 16px;
}

.headlinetop {
  padding-top: 64px;
  padding-bottom: 64px;
}

.headlinetop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headlinetop__left {
  width: 50%;
  padding: 50px 50px;
  background: var(--secondarycolor);
  position: relative;
  overflow: hidden;
}

.headlinetop__left img {
  position: absolute;
  top: 60px;
  left: 90px;
  width: 70%;
}

.headlinetop__right {
  width: 50%;
  padding-left: 78px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.headlinetop__right h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 16px;
}

.headlinetop__right p {
  font-size: 18px;
  line-height: 32px;
}

.headlinetop__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headlinetop__link a {
  margin-right: 10px;
  color: var(--primarycolor);
}

.headlinebottom {
  padding-top: 210px;
  padding-bottom: 210px;
}

.headlinebottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headlinebottom__left {
  background-color: var(--primarycolor);
  padding: 40px 48px;
  padding-left: 48px;
  position: relative;
  border-radius: 16px;
}

.headlinebottom__left h1 {
  font-size: 40px;
  color: white;
  font-weight: 800;
  margin-bottom: 32px;
}

.headlinebottom__left p {
  font-size: 18px;
  line-height: 32px;
  color: white;
  margin-bottom: 32px;
  width: 45%;
}

.headlinebottom__left img {
  position: absolute;
  right: 60px;
  top: -150px;
  width: 35%;
}

.headlinebottom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headlinebottom__link a {
  color: white;
  margin-right: 16px;
}

.footer {
  background: var(--gray900);
  padding-top: 48px;
}

.footer__content {
  display: block;
  text-align: center;
}

.footer__logo {
  padding-bottom: 32px;
}

.footer__link {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 48px;
}

.footer__link a {
  color: white;
}

.footer__link a:not(:last-child) {
  margin-right: 24px;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer svg {
  margin-left: 16px;
}
/*# sourceMappingURL=stylebaitapvenha02.css.map */