:root {
    --font: Inter;
    --gray900: #18191F;
    --gray800: #474A57;
    --gray700: #969BAB;
    --primarycolor: #8C30F5;
    --secondarycolor: #D6B1FF;

}

.hidden {
    overflow: hidden;
}

body {
    font-family: var(--font);
    a {
        text-decoration: none; ;
    }
    
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.primary__button {
    font-family: var(--font);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--primarycolor);

}

.secondary__button {
    font-family: var(--font);
    color: var(--primarycolor);
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--secondarycolor);
    
}


// Header

.header {

    border-bottom: 2px solid #E5E9F2;

    &__content {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    
    
    &__links {
    
        a {
            text-decoration: none;
            padding: 10px 20px;
            font-family: var(--font);
            color: var(--gray800);
            
        }
    }
    
    .primary__button {
        margin-left: 14px;
    }
       

}



    // Hero

.hero {
    
    padding-top: 77px;
    padding-bottom: 220px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__left {
        width: 45%;
        margin-top: 70px;
        h1 {
            font-size: 72px;
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 32px;
        }

    }

    &__right {
        width: 640px;
        height: 640px;
        position: absolute;
        right: -80px;
        top: 0;
        border-radius: 50%;
        background-color: #D6B1FF;
    }

    &__img {

        position:absolute;
        left: 90px;
        top: 70px;
    }
 
}


// Get Deal

.getdeal {
    padding-top: 100px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {

        width: 40%;
        justify-content: flex-end;

        h1 {
            font-size: 48px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        p {
            font-size: 18px;
            line-height: 32px;
        }
    }

    &__right {
        position: relative;
        
    }

}

#outer_circle {
    position: absolute;
    position: center;
    right: -30px;
    top: -45px;
}

#inner_circle {
    position: absolute;
    left: 100px;
    top: 100px;
}

// Achievements

.achievement {

    padding-top: 80px;
    padding-bottom: 80px;

    &__content {

        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 48px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        p {
            font-size: 18px;
            line-height: 32px;
        }
    }

    &__left {

    

    }

    &_item1 {

        grid-area: item1;
     }
     &_item2 {

        grid-area: item2;
     }

     &_item3 {

        grid-area: item3;
     }

     &_item4 {

        grid-area: item4;
     }


    &__right {

        display: grid;
        grid-template-columns: 135px 135px 135px 70px ;
        grid-template-rows: auto;
        grid-template-areas: 
        "item1 item1 item2 item2"
        "item3 item3 item4 item4";

        
    }

    .flex {
        display: flex;
        align-items: center;
    }

    &_text {
        margin-left: 16px;

        h2 {
            margin: 0;
            font-size: 28px;
            color: var(--gray900);
        }

        p {
            margin: 0px;
            font-size: 16px;
        }
    }
}

// Headlinetop

.headlinetop {

    padding-top: 64px;
    padding-bottom: 64px;

    &__content {
        display: flex;
        justify-content: space-between;
        
    }

    &__left {
        width: 50%;
        padding: 50px 50px;
        background: var(--secondarycolor);
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 60px;
            left: 90px;
            width: 70%;
        }
    }

    &__right {
        width: 50%;
        padding-left: 78px;
        padding-top: 120px;
        padding-bottom: 120px;

        h1 {
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 16px;
        }

        p {
            font-size: 18px;
            line-height: 32px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        a {
            margin-right: 10px;
            color: var(--primarycolor);
        }
    }
}


// Headlinebottom

.headlinebottom {

    padding-top: 210px;
    padding-bottom: 210px;

    &__content {
        display: flex;

    }

    &__left {

        background-color: var(--primarycolor);
        padding: 40px 48px;
        padding-left: 48px;
        position: relative;
        border-radius: 16px;

        h1 {
            font-size: 40px;
            color: white;
            font-weight: 800;
            margin-bottom: 32px;
        }

        p {
            font-size: 18px;
            line-height: 32px;
            color: white;
            margin-bottom: 32px;
            width: 45%;
        }

        img {
            position: absolute;
            right: 60px;
            top: -150px;
            width: 35%;
        }
    }

    &__link {
        display: flex;
        a {
            color: white;
            margin-right: 16px;
        }
    }

}

// Footer

.footer {
    background: var(--gray900);
    padding-top: 48px;
    &__content {
        display: block;
        text-align:center;
    }

    &__logo {
        padding-bottom: 32px;
    }

    

    &__link {

        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 48px;

        a {
            color: white;
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
        
    }

    &__copy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    &__social {

        
    }

    svg {
            
        margin-left: 16px;
    }

}